
@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* @font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../font/Pretendard-Black.otf") format("opentype"),
    url("../font/Pretendard-Bold.otf") format("opentype"),
    url("../font/Pretendard-ExtraBold.otf") format("opentype"),
    url("../font/Pretendard-ExtraLight.otf") format("opentype"),
    url("../font/Pretendard-Light.otf") format("opentype"),
    url("../font/Pretendard-Medium.otf") format("opentype"),
    url("../font/Pretendard-Regular.otf") format("opentype"),
    url("../font/Pretendard-SemiBold.otf") format("opentype"),
    url("../font/Pretendard-Thin.otf") format("opentype");
} */
/* @font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
  src: url("../../../fonts/pretendard/PretendardVariable.woff2")
    format("woff2-variations");
} */
